.fadeRight,
.fadeLeft,
.fadeIn,
.fadeDown{
	-webkit-transition: transform 800ms cubic-bezier(.17,.67,.43,1), opacity 500ms cubic-bezier(.17,.67,.43,1);
	   -moz-transition: transform 800ms cubic-bezier(.17,.67,.43,1), opacity 500ms cubic-bezier(.17,.67,.43,1);
	    -ms-transition: transform 800ms cubic-bezier(.17,.67,.43,1), opacity 500ms cubic-bezier(.17,.67,.43,1);
	   	 -o-transition: transform 800ms cubic-bezier(.17,.67,.43,1), opacity 500ms cubic-bezier(.17,.67,.43,1);
			transition: transform 800ms cubic-bezier(.17,.67,.43,1), opacity 500ms cubic-bezier(.17,.67,.43,1);
}
.delay100{
	-webkit-transition: transform 800ms 100ms cubic-bezier(.17,.67,.43,1), opacity 500ms 100ms cubic-bezier(.17,.67,.43,1);
	   -moz-transition: transform 800ms 100ms cubic-bezier(.17,.67,.43,1), opacity 500ms 100ms cubic-bezier(.17,.67,.43,1);
	    -ms-transition: transform 800ms 100ms cubic-bezier(.17,.67,.43,1), opacity 500ms 100ms cubic-bezier(.17,.67,.43,1);
	   	 -o-transition: transform 800ms 100ms cubic-bezier(.17,.67,.43,1), opacity 500ms 100ms cubic-bezier(.17,.67,.43,1);
			transition: transform 800ms 100ms cubic-bezier(.17,.67,.43,1), opacity 500ms 100ms cubic-bezier(.17,.67,.43,1);
}
.delay200{
	-webkit-transition: transform 800ms 200ms cubic-bezier(.17,.67,.43,1), opacity 500ms 200ms cubic-bezier(.17,.67,.43,1);
	   -moz-transition: transform 800ms 200ms cubic-bezier(.17,.67,.43,1), opacity 500ms 200ms cubic-bezier(.17,.67,.43,1);
	    -ms-transition: transform 800ms 200ms cubic-bezier(.17,.67,.43,1), opacity 500ms 200ms cubic-bezier(.17,.67,.43,1);
	   	 -o-transition: transform 800ms 200ms cubic-bezier(.17,.67,.43,1), opacity 500ms 200ms cubic-bezier(.17,.67,.43,1);
			transition: transform 800ms 200ms cubic-bezier(.17,.67,.43,1), opacity 500ms 200ms cubic-bezier(.17,.67,.43,1);
}
.delay300{
	-webkit-transition: transform 800ms 300ms cubic-bezier(.17,.67,.43,1), opacity 500ms 300ms cubic-bezier(.17,.67,.43,1);
	   -moz-transition: transform 800ms 300ms cubic-bezier(.17,.67,.43,1), opacity 500ms 300ms cubic-bezier(.17,.67,.43,1);
	    -ms-transition: transform 800ms 300ms cubic-bezier(.17,.67,.43,1), opacity 500ms 300ms cubic-bezier(.17,.67,.43,1);
	   	 -o-transition: transform 800ms 300ms cubic-bezier(.17,.67,.43,1), opacity 500ms 300ms cubic-bezier(.17,.67,.43,1);
			transition: transform 800ms 300ms cubic-bezier(.17,.67,.43,1), opacity 500ms 300ms cubic-bezier(.17,.67,.43,1);
}
.delay400{
	-webkit-transition: transform 800ms 400ms cubic-bezier(.17,.67,.43,1), opacity 500ms 400ms cubic-bezier(.17,.67,.43,1);
	   -moz-transition: transform 800ms 400ms cubic-bezier(.17,.67,.43,1), opacity 500ms 400ms cubic-bezier(.17,.67,.43,1);
	    -ms-transition: transform 800ms 400ms cubic-bezier(.17,.67,.43,1), opacity 500ms 400ms cubic-bezier(.17,.67,.43,1);
	   	 -o-transition: transform 800ms 400ms cubic-bezier(.17,.67,.43,1), opacity 500ms 400ms cubic-bezier(.17,.67,.43,1);
			transition: transform 800ms 400ms cubic-bezier(.17,.67,.43,1), opacity 500ms 400ms cubic-bezier(.17,.67,.43,1);
}
.delay500{
	-webkit-transition: transform 800ms 500ms cubic-bezier(.17,.67,.43,1), opacity 500ms 500ms cubic-bezier(.17,.67,.43,1);
	   -moz-transition: transform 800ms 500ms cubic-bezier(.17,.67,.43,1), opacity 500ms 500ms cubic-bezier(.17,.67,.43,1);
	    -ms-transition: transform 800ms 500ms cubic-bezier(.17,.67,.43,1), opacity 500ms 500ms cubic-bezier(.17,.67,.43,1);
	   	 -o-transition: transform 800ms 500ms cubic-bezier(.17,.67,.43,1), opacity 500ms 500ms cubic-bezier(.17,.67,.43,1);
			transition: transform 800ms 500ms cubic-bezier(.17,.67,.43,1), opacity 500ms 500ms cubic-bezier(.17,.67,.43,1);
}
.delay600{
	-webkit-transition: transform 800ms 600ms cubic-bezier(.17,.67,.43,1), opacity 500ms 600ms cubic-bezier(.17,.67,.43,1);
	   -moz-transition: transform 800ms 600ms cubic-bezier(.17,.67,.43,1), opacity 500ms 600ms cubic-bezier(.17,.67,.43,1);
	    -ms-transition: transform 800ms 600ms cubic-bezier(.17,.67,.43,1), opacity 500ms 600ms cubic-bezier(.17,.67,.43,1);
	   	 -o-transition: transform 800ms 600ms cubic-bezier(.17,.67,.43,1), opacity 500ms 600ms cubic-bezier(.17,.67,.43,1);
			transition: transform 800ms 600ms cubic-bezier(.17,.67,.43,1), opacity 500ms 600ms cubic-bezier(.17,.67,.43,1);
}
.delay700{
	-webkit-transition: transform 800ms 700ms cubic-bezier(.17,.67,.43,1), opacity 500ms 700ms cubic-bezier(.17,.67,.43,1);
	   -moz-transition: transform 800ms 700ms cubic-bezier(.17,.67,.43,1), opacity 500ms 700ms cubic-bezier(.17,.67,.43,1);
	    -ms-transition: transform 800ms 700ms cubic-bezier(.17,.67,.43,1), opacity 500ms 700ms cubic-bezier(.17,.67,.43,1);
	   	 -o-transition: transform 800ms 700ms cubic-bezier(.17,.67,.43,1), opacity 500ms 700ms cubic-bezier(.17,.67,.43,1);
			transition: transform 800ms 700ms cubic-bezier(.17,.67,.43,1), opacity 500ms 700ms cubic-bezier(.17,.67,.43,1);
}
.delay800{
	-webkit-transition: transform 800ms 800ms cubic-bezier(.17,.67,.43,1), opacity 500ms 800ms cubic-bezier(.17,.67,.43,1);
	   -moz-transition: transform 800ms 800ms cubic-bezier(.17,.67,.43,1), opacity 500ms 800ms cubic-bezier(.17,.67,.43,1);
	    -ms-transition: transform 800ms 800ms cubic-bezier(.17,.67,.43,1), opacity 500ms 800ms cubic-bezier(.17,.67,.43,1);
	   	 -o-transition: transform 800ms 800ms cubic-bezier(.17,.67,.43,1), opacity 500ms 800ms cubic-bezier(.17,.67,.43,1);
			transition: transform 800ms 800ms cubic-bezier(.17,.67,.43,1), opacity 500ms 800ms cubic-bezier(.17,.67,.43,1);
}
.delay900{
	-webkit-transition: transform 800ms 900ms cubic-bezier(.17,.67,.43,1), opacity 500ms 900ms cubic-bezier(.17,.67,.43,1);
	   -moz-transition: transform 800ms 900ms cubic-bezier(.17,.67,.43,1), opacity 500ms 900ms cubic-bezier(.17,.67,.43,1);
	    -ms-transition: transform 800ms 900ms cubic-bezier(.17,.67,.43,1), opacity 500ms 900ms cubic-bezier(.17,.67,.43,1);
	   	 -o-transition: transform 800ms 900ms cubic-bezier(.17,.67,.43,1), opacity 500ms 900ms cubic-bezier(.17,.67,.43,1);
			transition: transform 800ms 900ms cubic-bezier(.17,.67,.43,1), opacity 500ms 900ms cubic-bezier(.17,.67,.43,1);
}
.delay1000{
	-webkit-transition: transform 800ms 1000ms cubic-bezier(.17,.67,.43,1), opacity 500ms 1000ms cubic-bezier(.17,.67,.43,1);
	   -moz-transition: transform 800ms 1000ms cubic-bezier(.17,.67,.43,1), opacity 500ms 1000ms cubic-bezier(.17,.67,.43,1);
	    -ms-transition: transform 800ms 1000ms cubic-bezier(.17,.67,.43,1), opacity 500ms 1000ms cubic-bezier(.17,.67,.43,1);
	   	 -o-transition: transform 800ms 1000ms cubic-bezier(.17,.67,.43,1), opacity 500ms 1000ms cubic-bezier(.17,.67,.43,1);
			transition: transform 800ms 1000ms cubic-bezier(.17,.67,.43,1), opacity 500ms 1000ms cubic-bezier(.17,.67,.43,1);
}
.delay2000{
	-webkit-transition: transform 800ms 2000ms cubic-bezier(.17,.67,.43,1), opacity 500ms 2000ms cubic-bezier(.17,.67,.43,1);
	   -moz-transition: transform 800ms 2000ms cubic-bezier(.17,.67,.43,1), opacity 500ms 2000ms cubic-bezier(.17,.67,.43,1);
	    -ms-transition: transform 800ms 2000ms cubic-bezier(.17,.67,.43,1), opacity 500ms 2000ms cubic-bezier(.17,.67,.43,1);
	   	 -o-transition: transform 800ms 2000ms cubic-bezier(.17,.67,.43,1), opacity 500ms 2000ms cubic-bezier(.17,.67,.43,1);
			transition: transform 800ms 2000ms cubic-bezier(.17,.67,.43,1), opacity 500ms 2000ms cubic-bezier(.17,.67,.43,1);
}
.delay2800{
	-webkit-transition: transform 800ms 2800ms cubic-bezier(.17,.67,.43,1), opacity 500ms 2800ms cubic-bezier(.17,.67,.43,1);
	   -moz-transition: transform 800ms 2800ms cubic-bezier(.17,.67,.43,1), opacity 500ms 2800ms cubic-bezier(.17,.67,.43,1);
	    -ms-transition: transform 800ms 2800ms cubic-bezier(.17,.67,.43,1), opacity 500ms 2800ms cubic-bezier(.17,.67,.43,1);
	   	 -o-transition: transform 800ms 2800ms cubic-bezier(.17,.67,.43,1), opacity 500ms 2800ms cubic-bezier(.17,.67,.43,1);
			transition: transform 800ms 2800ms cubic-bezier(.17,.67,.43,1), opacity 500ms 2800ms cubic-bezier(.17,.67,.43,1);
}
.fadeRight{
	-webkit-transform: translateX(100px);
	   -moz-transform: translateX(100px);
    	-ms-transform: translateX(100px);
    	 -o-transform: translateX(100px); 
    		transform: translateX(100px);
   	opacity: 0;
}
	.fadeRight.show{
		-webkit-transform: translateX(0px);
		   -moz-transform: translateX(0px);
	    	-ms-transform: translateX(0px);
	    	 -o-transform: translateX(0px); 
	    		transform: translateX(0px);
	    opacity: 1;
	}
.fadeLeft{
	-webkit-transform: translateX(-100px);
	   -moz-transform: translateX(-100px);
    	-ms-transform: translateX(-100px);
    	 -o-transform: translateX(-100px); 
    		transform: translateX(-100px);
   	opacity: 0;
}
	.fadeLeft.show{
		-webkit-transform: translateX(0px);
		   -moz-transform: translateX(0px);
	    	-ms-transform: translateX(0px);
	    	 -o-transform: translateX(0px); 
	    		transform: translateX(0px);
	    opacity: 1;
	}
.fadeDown{
	-webkit-transform: translateY(10px);
	   -moz-transform: translateY(10px);
    	-ms-transform: translateY(10px);
    	 -o-transform: translateY(10px); 
    		transform: translateY(10px);
   	opacity: 0;
}
	.fadeDown.show{
		-webkit-transform: translateY(0px);
		   -moz-transform: translateY(0px);
	    	-ms-transform: translateY(0px);
	    	 -o-transform: translateY(0px); 
	    		transform: translateY(0px);
	    opacity: 1;
	}	
.fadeIn{
   	opacity: 0;
}
	.fadeIn.show{
	    opacity: 1;
	}
.scale{
	-webkit-transition: all 1800ms cubic-bezier(.17,.67,.43,1);
	   -moz-transition: all 1800ms cubic-bezier(.17,.67,.43,1);
	    -ms-transition: all 1800ms cubic-bezier(.17,.67,.43,1);
	   	 -o-transition: all 1800ms cubic-bezier(.17,.67,.43,1);
			transition: all 1800ms cubic-bezier(.17,.67,.43,1);
	-webkit-transform: scale(0);
	   -moz-transform: scale(0);
    	-ms-transform: scale(0);
    	 -o-transform: scale(0); 
    		transform: scale(0);
    opacity: 0;
}
	.scale.show{
		-webkit-transform: scale(1);
		   -moz-transform: scale(1);
	    	-ms-transform: scale(1);
	    	 -o-transform: scale(1); 
	    		transform: scale(1);
	    opacity: 1;
	}
.width-1
{
	width:0px;
	-webkit-transition: all 500ms linear;
	   -moz-transition: all 500ms linear;
	    -ms-transition: all 500ms linear;
	   	 -o-transition: all 500ms linear;
			transition: all 500ms linear;
}
.width-2{
	width:0px;
	-webkit-transition: all 500ms 400ms linear;
	   -moz-transition: all 500ms 400ms linear;
	    -ms-transition: all 500ms 400ms linear;
	   	 -o-transition: all 500ms 400ms linear;
			transition: all 500ms 400ms linear;
}
	.width-1.show{
		width: 164px;
	}
	.width-2.show{
		width: 258px;
	}


