@charset "utf-8";

body{
	min-width: 240px;
}
	.b-block{
		margin-right: 24px;
		margin-left: 24px;
		width: auto;
	}	
		.b-1{
			height: 100vh;
			max-height: none;
			min-height: 550px;
			background-position: 50% 100%;
		}	
			.b-1 .b-block{
				padding-top: 25px;
			}
			.b-logo-cont{
				margin: 0;
			}
				.b-logo-cont img{
					width: 144px;
					margin-top: 4px;
				}
			.recall{
				padding-top: 2px;
			}
				.recall:after{
					top: 23px;
				}
			.b-adr{
				display:none;
			}
			.phone{
				font-size: 18px;
				line-height: 26px;
			}
			.recall{
				font-size: 14px;
				line-height: 24px;
			}
			.b-1 h1,
			.b-1 h1 b{
				font-size: 28px;
				line-height: 36px;
			}
			.b-1 h1{
				padding-right: 20px;
				margin-bottom: 25px;
			}
			.b-bottom{
				height: calc(100% - 60px);
			}
				.b-subtitle,
				.b-subtitle b{
					font-size: 18px;
					line-height: 26px;
				}
				.b-subtitle{
					padding-left: 27px;
					margin-bottom: 36px;
				}
					.b-subtitle:before{
						width: 33px;
    					height: 35px;	
					}

				.consult{
					width: 100%;
				}

					.b-button{
						width: 100%;
						padding: 18px 15px 18px 15px;
						max-width: 327px;
						float: none !important;
					}
						.button-bold{
							font-size: 16px;
							line-height: 24px;
						}
						.button-thin{
							font-size: 16px;
							line-height: 24px;
						}
					.small{
						font-size: 14px;
						line-height: 24px;
					}
	.b-2{
		padding-top: 40px;
		padding-bottom: 70px;
	}
		.b-header-h2{
			font-size: 28px;
			line-height: 36px;
		}
			.b-2 .b-header-h2{
			    margin-bottom: 34px;
			}
		.b-reason{
			height: auto;
		}	
			.b-picture-1,
			.b-picture-2,
			.b-picture-3,
			.b-picture-4,
			.b-picture-5{
			    width: 100%;
			    height: 175px;
			    background-size: contain;
			    background-position: 50% 50%;
			    display: block;
			    background-repeat: no-repeat;
			    position: static;
			}

			.b-reason-text-1,
			.b-reason-text-2,
			.b-reason-text-3,
			.b-reason-text-4,
			.b-reason-text-5{
			    display: inline-block;
			    text-align: center;
			    margin: auto;
			    width: 100%;
			    padding: 0px;
			}
				.b-header-h3{
					font-size:24px;
					line-height:32px;
					margin-bottom: 18px;
					margin-top: 5px;
				}
				.b-text{
					font-size: 16px;
					line-height: 26px;
				}
		.slick-dots{
		    top: 12px;	
		}
		.slick-prev{
			margin-right: 0px;	
			left: 10px;		
		}
		.slick-next{
			margin-left: 0px;
			right: 10px;	
			left: auto;	
		}
		.slick-next,
		.slick-prev{
			top: 155px;
			width: 50px;
			height: 50px;
		}
			.slick-next:before,
			.slick-prev:before{
				font-size: 18px;
				top: -12px;
			}
		.b-2 .b-button{
			width: calc(100% - 48px);
			max-width: 327px;
		}
			.more{
			    margin-top: 14px;
			}
		.b-title-logo{
			left: -165px;
    		top: -34px;
    		height: 113px;
    		z-index: 0;
		}
	.b-3{
		padding-top: 42px;
		background-image: url(../i/bg-2-mobile.svg);
		background-position: 0% 100%;
		background-size: contain;
	}
		.b-differences{
			margin-top: 0px;
		}
			.b-difference{
				padding-right: 0px;
				padding-left: 0px;
				float: none;
				display: block;
				width: 100%;
				margin: 0 auto;
				text-align: center;
			}
			.b-difference:nth-child(2){
				float: none;
			    padding-right: 0px;
			    margin-top: 57px;

			}
				.b-money,
				.b-docs{
					margin-bottom: 0px;
	    			display: inline-block;
				}
				.b-money{
					left: 7px;
					width: 167px;
	    			height: 110px;
				}
				.b-docs{
				    left: 6px;
				    width: 153px;
				    height: 113px;
				}
				.b-dif-title{
					font-size: 24px; 
					line-height: 32px;
					position: relative;
	    			top: -10px;
				}
					.b-docs + .b-dif-title{
						top: 0px;
					}
				.b-dif-text{
					font-size: 16px;
					line-height: 26px;
					margin-top: 4px;
				}
					.b-difference:nth-child(2) .b-dif-text{
						margin-top: 10px;
					}
		.b-bottom-b-3{
			display: none;
		}
		.b-bottom-b-3-m{
			display: block;
		}
			.b-bottom-b-3-m .b-expert{
				padding-top: 80px;
    			margin-bottom: 24px;
    			float: none;
    			width: auto;
			}
				.b-bottom-b-3-m .b-circle{
					width: 123px;
    				height: 123px;
    				border-radius: 50%;
    				box-shadow: inset 0 0 0 17px #E4E4E4;
				}
					.b-bottom-b-3-m .b-expert-cont{
						width: 123px;
						height: 165px;
					}
						.b-bottom-b-3-m .b-expert-pic{
							width: 100px;
							height: 165px;
							position: relative;
	    					top: 0px;
					}
			.b-bottom-b-3-m .b-dif-text{
				padding-bottom: 50px;
			}
	.b-4{
		padding-top: 40px;
		padding-bottom: 50px;
	}
		.b-4 .b-header-h2{
			padding: 0px;
		}
		.b-reviews{
			margin-top: 4px;
		}
			.wrapper{
				width: 100%;
			}
				.b-r-photo-1,
				.b-r-photo-2,
				.b-r-photo-3{
					width: 60px;
			    	height: 60px;
			    	margin: 0 auto;
			    	display: block;
			    	float: none;
			    }
			    .b-r-name{
			    	margin-left: 0px;
			    	text-align: center;
			    	line-height: 26px;
		    	    padding-top: 2px;
			    }
			    	.b-r-link{
				    	font-size: 14px;
				    	line-height: 24px;
			   		 }
			   	.b-r-header{
			   		font-size: 24px;
			   		line-height: 32px;
			   		padding: 0px;
			   	}
			   	.b-r-text{
			   		font-size: 16px;
			   		line-height: 24px;
			   	}
		.b-4 .b-button{
				width: calc(100% - 48px);
				max-width: 327px;
			}
	    .b-4 .slick-next,
	    .b-4 .slick-prev{
		   	top: 66px;
	    }
	    .b-4 .slick-prev{
	    	margin-left: 0px;
	    	left: 10px;
	    }
	    .b-4 .slick-next{
	    	margin-left: 0px;
	    	right: 10px;
	    	left: auto;
	    }
	.b-5{
		padding-top: 40px;
		background-position: 0% 50%;
		padding-bottom: 0px;
	}
		.b-circle{
			width: 100%;
			max-width: 350px;
			margin: 0 auto;
			box-shadow: inset 0 0 0 30px #E4E4E4;
		}
		#circle-2{
			margin-top: 33px;
		}
		.line-1,
		.line-2{
			display: none;
		}
		.b-expert-quote-wrap{
			float: none;
			width: 100%;
			padding-top: 0px;
			position: relative;
    		top: -171px;
    		max-width: 455px;
    		display: inline-block;
		}
			.right + .b-expert-quote-wrap{
				padding: 0px;
			}
			.b-expert-name{
				font-family: Gilroy-Medium;
				font-size: 24px;
				color: #282828;
				line-height: 32px;
				text-align: center;
				padding: 9px 16px 9px 16px;
				background-color: #FFFFFF;
				box-shadow: 0 5px 10px 0 rgba(0,0,0,0.10);
				border-radius: 4px;
				display: inline-block;
				position: relative;
    			left: -43px;
    			z-index: 10;
    			max-width: 198px;
			}
				#expert-name-2{
					max-width: 296px;
					left: 6px;
				}
			.b-expert-quote{
				font-family: OpenSans-Regular;
				font-size: 16px;
				color: #999292;
				line-height: 24px;
				padding: 12px 16px 12px 19px;
				background-color: #FFFFFF;
				box-shadow: 0 5px 10px 0 rgba(0,0,0,0.10);
				border-radius: 4px;
				display: inline-block;
			    width: 255px;
			    top: -5px;
			    left: 23px;
			}
				#expert-quote-2{
				    width: 240px;
    				left: 16px;
				}
				.b-expert-quote:before{
				    top: 17px;
   				 	left: -6px;
   				 	width: 20px;
				}
			.question{
				max-width: 277px;
				margin-top: 22px;
				float: none !important;
			}
			#question-button{
				position: relative;
				z-index: 10;
			}
		.b-expert-cont{
			width: 100%;
			height: auto;
		}
			.b-expert{
				width: 100%;
				float: none;
				padding-top: 44.2%;
			}
			.b-expert.right{
				float: none !important;
				top: 0px;
				padding-left: 0px;
			}
				.b-expert-pic{
					width: 78%;
					position: relative;
					top: 94px;
					height: auto;
					left: 0px;
				}
				.b-expert-pic-2{
					width: 85%;
				    position: relative;
			        top: 119px;
					left: 3px;
				    height: auto;
				}	
.b-6{
	    top: -83px;
	    padding-bottom: 0px;
	    overflow: hidden;
}
 	.b-left{
 		width: 100%;
 		float: none;
 	}
	 	.b-header-h2-b-6{
	 		position: absolute;
	 	}
	 	.b-header-h2-b-6-2{
	 		font-size: 28px;
	 		line-height: 36px;
	 		text-align: center;
	 		padding-top: 0px;
	 	}
	 	.b-subtitle-b-6-2{
	 		font-size: 24px;
	 		line-height: 32px;
	 		text-align: center;
	 	}
	.b-car{
	    position: relative;
	    width: 615px;
	    height: 189px;
	    top: 14px;
	    left: -206px;
	    z-index: -1;
	    display: block;
	    background-size: contain;
	}


	.b-right{
		float: none;
		width: 100%;
		max-width: 327px;
		left: 0px;
		top: -14px;
		padding: 24px 24px 37px 24px;
		text-align: left;
		margin: 0 auto;
		display: inline-block;
	}
		.b-form-header{
			font-size: 20px;
			line-height: 26px;
		}
		.b-form-subtitle{
			font-size: 16px;
			line-height: 24px;
			padding-bottom: 18px;
		}
		.b-form-input{
			font-size: 16px;
			line-height: 28px;
			padding: 14px 24px 16px 24px;
			margin-bottom: 20px;
		}
		.b-condition{
			text-align: left;
			font-size: 12px;
			line-height: 18px;
			padding-left: 36px;
			max-width: 286px;
		}
		.b-condition a:after{
		    width: 104px;
		    left: 109px;
		    bottom: 20px;
		}
			.b-condition:before{
				left: -3px;
    			top: 6px;
			}
		.b-office{
			margin-top: 6px;
			text-align: center;
		}
		.b-6 .small{
			padding-top: 13px;
			padding-bottom: 17px;
		}
		.agree + label:after{
		    bottom: 10px;
    		left: 2px;
		}
		.b-office .orange{
			padding: 20px 5px 16px 5px;
		}
		.b-condition a:before{
		    border-bottom: 1px solid rgba(255,255,255,0.5);
			position: absolute;
			content: ' ';
			display: block;
			pointer-events: none;
		   	width: 72px;
		    left: 36px;
		    bottom: 2px;
		}
			.b-condition a:hover:before{
				display: none;
			}
	.b-footer{
		padding-top: 23px;
	}	
		.b-footer .b-logo-cont img{
			width: 185px;
		}
		.b-f-contacts{
			padding-top: 18px;
			width: 100%;
		}
		.b-redder{
			padding-top: 7px;
			float: left;
		}
	.b-f-contacts ul li a:after{
		width: 75px;
		bottom: 26px;
		left: 1px;
	}

input::-webkit-input-placeholder {
	font-family: Gilroy-Regular;
	font-size: 16px;
	color: #FFFFFF;
	line-height: 28px;
}
input:-moz-placeholder {
	font-family: Gilroy-Regular;
	font-size: 16px;
	color: #FFFFFF;
	line-height: 28px;
}
.explanation{
	width: 100% !important;
	text-align: justify;
	top: 0px !important;
	padding-top: 30px;
	max-width: 327px;
}
	.explanation:nth-child(1){
		padding-top: 20px;
	}
	.explanation img{
		height: auto !important;
		display: inline-block;
		float: none;
		vertical-align: middle;
	}
		.explanation p a:after{
			width: 154px;
			left: 28px;
			bottom: 3px;
		}
		.explanation:nth-child(1) img{
			width: 96px;
			left: 0px;
			top: 0px;
		}
		.explanation:nth-child(2) img{
			width: 88px;
			left: 0px;
			top: 0px;
		}
		.explanation:nth-child(3) img{
			width: 99px;
			left: 0px;
			top: 0px;
		}
	.explanation .b-dif-text{
		float: none;
		margin-top: auto;
		width: 64%;
	    display: inline-block;
    	vertical-align: middle;
	}
.payoff{
	margin-top: 30px !important;
}
.b-overprice{
	background-image: url(../i/bg-overprice-m.svg);
	background-position: 50% 100%;
	background-repeat: no-repeat;
}
.explain{
	text-align: center;
}
.explanation:after{
	content: '';
    display: inline-block;
    width: 100%;
    vertical-align: top;
}
/*ПОПАПЫ--ПОПАПЫ--ПОПАПЫ--ПОПАПЫ--ПОПАПЫ--ПОПАПЫ--ПОПАПЫ--ПОПАПЫ--ПОПАПЫ--ПОПАПЫ--ПОПАПЫ--ПОПАПЫ--ПОПАПЫ--ПОПАПЫ--ПОПАПЫ--ПОПАПЫ--ПОПАПЫ*/

#b-popup-1,
#b-popup-2,
#b-popup-6{
	position: relative;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    padding: 30px 24px 24px 24px;
    width: 100%;
    border-radius: 0px;
    overflow: hidden;
    background-size: cover;
    height: auto;
}


#b-popup-5,
#b-popup-4,
#b-popup-3{
	width: calc(100% - 48px);
	height: auto;
}
#b-popup-4 .b-right,
#b-popup-3 .b-right{
	width: 100%;
	padding: 24px 24px 24px 24px;
}
#b-popup-3 .b-form-header, 
#b-popup-4 .b-form-header{
	min-width: 0;
	max-width: 270px;
}
.pop-cont-2,
.pop-cont-1{
	display: none;
}
.b-popup .b-header-h2{
	font-size: 28px;
	line-height: 36px;
}

.b-popup .b-subtitle{
	font-size: 18px;
	line-height: 24px;
}

.b-popup .b-left{
	width: 100%;
    display: block;
    float: left;
}
.b-popup .b-right{
	width: 100%;
    max-width: none;
    left: 0px;
    padding: 24px 24px 37px 24px;
    text-align: left;
    margin: 0 auto;
    display: inline-block;
}
.fancybox-slide > *{
	margin: 0;
}
.b-popup .b-condition:before{
	left: 0px;
	top: 31px
}
.b-popup .agree + label:after{
	left: 20px;
    bottom: 12px;
}
.icon-cross:before{
	width: 20px;
    height: 20px;
    font-size: 20px;
}
.fancybox-close-small{
	top: 24px;
    right: 19px;
    width: 30px;
    height: 30px;
}
.b-orange-popup .fancybox-close-small{
	top: 11px;
    right: 10px;
}
.transfer{
	display: none;
}
textarea{
	min-width: 0;
}






.b-overprice{
		padding: 24px;
	}
	.b-overprice .b-header-h2{
		font-size: 28px;
	    padding-top: 69px;
    	margin-bottom: 46px;
    	text-align: center;
	}
.b-expert-3-wrap{
	width: 100%;
}
.b-expert-3 .b-expert-cont{
	height: 136%;
}
	.b-expert-3 .b-expert-cont img{
		width: 96%;
	}
#circle-3{
	width: 100%;

}
.b-2-1{
	margin-bottom: 100px;
	padding-top: 80px;
}
.b-2-2{
	padding-bottom: 40px;
	margin-bottom: 0px;
}
.b-2-2 .b-subtitle {
    margin-top: 32px;
    margin-bottom: 10px;
    font-size: 24px;
    line-height: 32px;
}
.b-2-2 .b-subtitle b{
	font-size: 24px;
    line-height: 32px;
}
.b-2-2 .b-header-h2 {
    line-height: 36px;
}


#b-popup-quiz-1{
	background-image: url("../i/bg-quiz.svg");
	background-position: 50% 50%;
	background-repeat: no-repeat;
	overflow: hidden;
	width: calc(100% - 48px);
}
.b-quiz{
	background-image: none;
	padding: 24px;
	max-width: 327px;
	min-width: 320px;
	margin: 0 auto;
	width: 100%;
}
	.quiz-answers{
		width: 100% !important;
		padding-bottom: 0px;
	}
	#b-popup-quiz-1 .b-header-h2{
		font-size: 22px;
		line-height: 30px;
		text-align:  left;
		max-width: 260px;
		margin-bottom: 16px;
	}
	.b-quiz .radio + label{
		font-size: 18px;
		line-height: 24px;
		padding-left: 0px;
		position:  relative;
	}
	.b-quiz .radio + label p{
		font-size: 18px;
		line-height: 24px;
		padding-left: 0px;
	}
	.b-quiz .radio + label:before{
		display:  inline-block;
		position: static;
		margin-right: 20px;
		vertical-align:  middle;
	}
	.b-quiz .radio + label:after{
		left: 10px;
		top: 22px;

	}

	.scr-2 .radio + label{

		left: 11px;

		display:  inline-block;
	}
	.scr-2 .quiz-answers{
		text-align: left;
	}


	.scr-2 .radio + label:after{
		left: 10px;
	}

	.scr-3 .quiz-answers{
		text-align: left;
	}

	.scr-3 .radio + label{
		padding-left: 14px;
	}
	.scr-3 .radio + label:before{
		left: -22px;
	}
	.scr-3 .radio + label:after{
		left: 24px;
	}
.b-quiz input{
	width: 100%;
}
	.quiz-screen .b-condition{

	}
	.quiz-screen .agree + label:after{
		left: -121px !important;
		top: -33px !important;
	}
	
	.quiz-screen label p a{
		color: #484848;
		text-decoration: underline;
	}
		.quiz-screen label p a:after{
			display: none;
		}
.quiz-screen input::-webkit-input-placeholder {
		font-family: Gilroy-Regular;
		font-size: 16px;
		color: #b7b7b7;
		line-height: 28px;
	}
	.quiz-screen input:-moz-placeholder {
		font-family: Gilroy-Regular;
		font-size: 16px;
		color: #b7b7b7;
		line-height: 28px;
	}
.b-error-placement{
	font-size: 16px;
}
#b-popup-quiz-1 .b-popup .b-subtitle{
	text-align: left;
}
#b-popup-quiz-1 .b-button{
	max-width:224px;
}
.b-thanks {
    border-radius: 10px;
    width: calc(100% - 48px);
}
.b-thanks .b-form-header {
    font-size: 20px;
    line-height: 26px;
}
#b-popup-quiz-1 h3{
	font-size: 16px;
	line-height: 24px;
	text-align: left;
}
.fancybox-close-small{
	top: 11px;
    right: 11px;
}
.b-center-but{
	top: 0px;
	margin-top: 40px;
}
#radio-2-1 + label:before,
#radio-2-4 + label:before,
#radio-2-6 + label:before,
#radio-2-9 + label:before{
	margin-left: 0px;
}
.scr-2 .radio + label:before{
	margin-left: 32px;
}
.scr-2 .radio + label:after{
	left: 42px;
}
#radio-2-1 + label:after,
#radio-2-4 + label:after,
#radio-2-6 + label:after,
#radio-2-9 + label:after{
	left: 10px;
}
.scr-2 .b-button{
	margin-top: 44px;
}
#b-popup-quiz-1 .b-subtitle,#b-popup-quiz-1 .b-subtitle b{
	font-size: 16px;
}
.b-quiz #radio-1 + label:before{
	margin-top: 4px;
	float: left;
}
.b-quiz #radio-1 + label:after{
	left: 10px;
    top: 26px;
}
.b-quiz #radio-1 + label p{
	color: #282828;
}
@media screen and (max-width: 321px){
	.b-logo-cont img{
		width: 128px;
	}
	.phone{
		font-size: 16px;
	}
	.b-1 h1,
	.b-1 h1 b{
		font-size: 24px;
		line-height: 30px;
	}
	.b-header-h2{
		font-size: 24px;
		line-height: 32px;
	}
	.b-header-h3{
		font-size: 22px;
		line-height: 28px;
	}
	.b-header-h2-b-6-2{
		font-size: 24px;
		line-height: 32px;
	}

	.b-subtitle-b-6-2 {
		font-size: 22px;
		line-height: 28px;
	}
	.b-popup .b-header-h2{
		font-size: 24px;
		line-height: 32px;
	}
	#b-popup-quiz-1 {
    	width: calc(100% - 10px);
	}
	.b-quiz #radio-1 + label p,
	.b-quiz .radio + label {
	    font-size: 17px;
	}
	#b-popup-quiz-1 .b-header-h2{
		max-width: 250px;
	}
	.quiz-screen .agree + label:after {
	    left: -117px !important;
	    top: -34px !important;
	}
}